In [22]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
import os

In [24]:
os.chdir(r"C:\Users\vbaburao\Documents") 
os.getcwd()

'C:\\Users\\vbaburao\\Documents'

In [25]:

dataframe= pd.read_csv('decision tree.csv')

In [26]:
dataframe.head()

       Date  Covid cases  City traific   sales data
0  3/2/2020          2.0          1.12  59168881.42
1  3/3/2020          2.0          1.16  61797572.85
2  3/4/2020          4.0          1.13  61957686.01
3  3/5/2020          8.0          1.18  60915291.16
4  3/6/2020         14.0          1.17  61825051.68

In [27]:
dfr =dataframe.drop('Date',axis=1)

In [28]:
dfr

    Covid cases  City traific   sales data
0           2.0          1.12  59168881.42
1           2.0          1.16  61797572.85
2           4.0          1.13  61957686.01
3           8.0          1.18  60915291.16
4          14.0          1.17  61825051.68
5          19.0          1.20  56422640.19
6          25.0          1.05  43282534.88
7          30.0          1.12  62983372.61
8          34.0          1.17  62430068.60
9          52.0          1.14  63449606.41
10         76.0          1.07  71641835.69
11         98.0          0.96  74311890.98
12        121.0          0.88  68581539.05
13        200.0          0.73  53873179.08
14        234.0          0.62  84027209.64
15        291.0          0.45  86355574.79
16        428.0          0.33  90880066.29
17        621.0          0.25  87035136.44
18        964.0          0.19  77936544.25
19       1178.0          0.17  66962942.29
20       1546.0          0.17  42152267.25
21       1891.0          0.13  58541127.35
22       2201.0          0.11  47879241.95
23       2433.0          0.12  45315852.36
24       2915.0          0.11  44173625.09
25       3417.0          0.12  47972349.62
26       3904.0          0.13  44378948.46
27       4256.0          0.13  31298923.25
28       4579.0          0.14  49654608.41
29       5717.0          0.14  53539130.51
30       6836.0          0.12  51290200.03
31       7910.0          0.12  50194728.74
32       9056.0          0.11  51317135.86
33      10278.0          0.13  45259624.84
34      11130.0          0.13  32129703.62
35      12506.0          0.12  51120384.21
36      13717.0          0.12  53885623.84
37      15927.0          0.12  52940643.28
38      17857.0          0.12  53595624.78
39      19638.0          0.08  32702491.69
40      20727.0          0.12  44636431.62
41      22169.0          0.12  27903043.58
42      23430.0          0.11  50571790.68
43      25262.0          0.11  51254159.25
44      28320.0          0.11  52513455.59

In [29]:

X = dfr.drop('sales data', axis=1)
Y = dfr['sales data']

In [30]:
X=X[["Covid cases","City traific"]]

a=X.min()
b=X.max()
X= (X - a) / (b - a)
X

    Covid cases  City traific
0      0.000000      0.928571
1      0.000000      0.964286
2      0.000071      0.937500
3      0.000212      0.982143
4      0.000424      0.973214
5      0.000600      1.000000
6      0.000812      0.866071
7      0.000989      0.928571
8      0.001130      0.973214
9      0.001766      0.946429
10     0.002613      0.883929
11     0.003390      0.785714
12     0.004202      0.714286
13     0.006992      0.580357
14     0.008193      0.482143
15     0.010206      0.330357
16     0.015043      0.223214
17     0.021859      0.151786
18     0.033971      0.098214
19     0.041528      0.080357
20     0.054524      0.080357
21     0.066707      0.044643
22     0.077654      0.026786
23     0.085846      0.035714
24     0.102867      0.026786
25     0.120595      0.035714
26     0.137792      0.044643
27     0.150222      0.044643
28     0.161629      0.053571
29     0.201815      0.053571
30     0.241331      0.035714
31     0.279257      0.035714
32     0.319726      0.026786
33     0.362879      0.044643
34     0.392966      0.044643
35     0.441557      0.035714
36     0.484321      0.035714
37     0.562363      0.035714
38     0.630518      0.035714
39     0.693411      0.000000
40     0.731867      0.035714
41     0.782788      0.035714
42     0.827318      0.026786
43     0.892012      0.026786
44     1.000000      0.026786

In [31]:
X

    Covid cases  City traific
0      0.000000      0.928571
1      0.000000      0.964286
2      0.000071      0.937500
3      0.000212      0.982143
4      0.000424      0.973214
5      0.000600      1.000000
6      0.000812      0.866071
7      0.000989      0.928571
8      0.001130      0.973214
9      0.001766      0.946429
10     0.002613      0.883929
11     0.003390      0.785714
12     0.004202      0.714286
13     0.006992      0.580357
14     0.008193      0.482143
15     0.010206      0.330357
16     0.015043      0.223214
17     0.021859      0.151786
18     0.033971      0.098214
19     0.041528      0.080357
20     0.054524      0.080357
21     0.066707      0.044643
22     0.077654      0.026786
23     0.085846      0.035714
24     0.102867      0.026786
25     0.120595      0.035714
26     0.137792      0.044643
27     0.150222      0.044643
28     0.161629      0.053571
29     0.201815      0.053571
30     0.241331      0.035714
31     0.279257      0.035714
32     0.319726      0.026786
33     0.362879      0.044643
34     0.392966      0.044643
35     0.441557      0.035714
36     0.484321      0.035714
37     0.562363      0.035714
38     0.630518      0.035714
39     0.693411      0.000000
40     0.731867      0.035714
41     0.782788      0.035714
42     0.827318      0.026786
43     0.892012      0.026786
44     1.000000      0.026786

In [32]:
Y = dfr['sales data']
c=Y.min()
d=Y.max()
Y= (Y - c) / (d - c)
Y

0     0.496464
1     0.538205
2     0.540747
3     0.524195
4     0.538641
5     0.452857
6     0.244208
7     0.557034
8     0.548248
9     0.564437
10    0.694520
11    0.736917
12    0.645926
13    0.412375
14    0.891185
15    0.928156
16    1.000000
17    0.938947
18    0.794472
19    0.620225
20    0.226261
21    0.486496
22    0.317198
23    0.276495
24    0.258357
25    0.318677
26    0.261618
27    0.053923
28    0.345389
29    0.407070
30    0.371360
31    0.353965
32    0.371788
33    0.275602
34    0.067114
35    0.368664
36    0.412572
37    0.397567
38    0.407968
39    0.076210
40    0.265706
41    0.000000
42    0.359953
43    0.370788
44    0.390784
Name: sales data, dtype: float64

In [33]:

#train_sizeX = int(len(X) * 0.86)
#X_train, X_test = X[0:train_sizeX], X[train_sizeX:len(X)]
#print('Observations: %d' % (len(X)))
#print('Training Observations: %d' % (len(X_train)))
#print('Testing Observations: %d' % (len(X_test)))

In [34]:
#train_sizeY = int(len(Y) * 0.86)
#Y_train, Y_test = Y[0:train_sizeY], Y[train_sizeY:len(X)]
#print('Observations: %d' % (len(Y)))
#print('Training Observations: %d' % (len(Y_train)))
#print('Testing Observations: %d' % (len(Y_test)))

In [35]:
X = X
n_train = 15
n_records = len(X)
for i in range(n_train, n_records):
    X_train, X_test = X[0:i], X[i:i+1]
    print('train=%d, test=%d' % (len(X_train), len(X_test)))

train=15, test=1
train=16, test=1
train=17, test=1
train=18, test=1
train=19, test=1
train=20, test=1
train=21, test=1
train=22, test=1
train=23, test=1
train=24, test=1
train=25, test=1
train=26, test=1
train=27, test=1
train=28, test=1
train=29, test=1
train=30, test=1
train=31, test=1
train=32, test=1
train=33, test=1
train=34, test=1
train=35, test=1
train=36, test=1
train=37, test=1
train=38, test=1
train=39, test=1
train=40, test=1
train=41, test=1
train=42, test=1
train=43, test=1
train=44, test=1

In [36]:
Y = Y
n_train = 15
n_records = len(Y)
for i in range(n_train, n_records):
    Y_train, Y_test = Y[0:i], Y[i:i+1]
    print('train=%d, test=%d' % (len(Y_train), len(Y_test)))

train=15, test=1
train=16, test=1
train=17, test=1
train=18, test=1
train=19, test=1
train=20, test=1
train=21, test=1
train=22, test=1
train=23, test=1
train=24, test=1
train=25, test=1
train=26, test=1
train=27, test=1
train=28, test=1
train=29, test=1
train=30, test=1
train=31, test=1
train=32, test=1
train=33, test=1
train=34, test=1
train=35, test=1
train=36, test=1
train=37, test=1
train=38, test=1
train=39, test=1
train=40, test=1
train=41, test=1
train=42, test=1
train=43, test=1
train=44, test=1

In [37]:
#from sklearn.model_selection import TimeSeriesSplit
#from matplotlib import pyplot
#X=X
#splits = TimeSeriesSplit(n_splits=4)
#pyplot.figure(1)
#index = 1
#for train_index, test_index in splits.split(X):
	#X_train = X[train_index]
	#X_test = X[test_index]
	#print('Observations: %d' % (len(X_train) + len(X_test)))
	#print('Training Observations: %d' % (len(X_train)))
	#print('Testing Observations: %d' % (len(X_test)))

In [38]:
#from sklearn.model_selection import TimeSeriesSplit
#from matplotlib import pyplot
#Y = Y
#splits = TimeSeriesSplit(n_splits=4)
#pyplot.figure(1)
#index = 1
#for train_index, test_index in splits.split(Y):
	#Y_train = Y[train_index]
	#Y_test = Y[test_index]
	#print('Observations: %d' % (len(Y_train) + len(Y_test)))
	#print('Training Observations: %d' % (len(Y_train)))
	#print('Testing Observations: %d' % (len(Y_test)))

In [39]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=200, oob_score=True, random_state=0)
rf.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=True,
                      random_state=0, verbose=0, warm_start=False)

In [40]:
y_pred1 = rf.predict(X_test)

In [41]:
dataset=pd.DataFrame({'Actual':Y_test, 'Predicted':y_pred1})
dataset

      Actual  Predicted
44  0.390784   0.326373

In [55]:
# Evaluating the Algorithm
from sklearn import metrics
from sklearn.metrics import r2_score
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred1))  
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred1))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred1)))

Mean Absolute Error: 0.0644108852442758
Mean Squared Error: 0.004148762137951265
Root Mean Squared Error: 0.0644108852442758

In [43]:
test = pd.read_csv('predict.csv')

In [44]:
test_norm=(test - test.mean()) / (test.max() - test.min())

In [45]:
test_norm

    Covid cases  City traific
0     -0.475491      0.547368
1     -0.435812      0.347368
2     -0.395077      0.147368
3     -0.358394      0.147368
4     -0.318385      0.547368
5     -0.270650      0.347368
6     -0.210264      0.147368
7     -0.142343     -0.052632
8     -0.067943     -0.052632
9     -0.004856     -0.252632
10     0.049483     -0.252632
11     0.109042     -0.052632
12     0.168157     -0.052632
13     0.237973     -0.252632
14     0.305588     -0.252632
15     0.373372     -0.252632
16     0.432568     -0.452632
17     0.478521     -0.252632
18     0.524509     -0.052632

In [46]:
y_pred = rf.predict(test_norm)

In [47]:
y_pred

array([0.43430813, 0.64205031, 0.63753255, 0.63753255, 0.43430813,
       0.64205031, 0.63753255, 0.56611672, 0.56611672, 0.56611672,
       0.36997017, 0.20689288, 0.22307064, 0.26209462, 0.26033212,
       0.24514603, 0.24946733, 0.27928392, 0.27794841])

In [48]:
y_pred
y_pred_denor=(y_pred)*(d-c)+c
y_pred_denor

array([55254476.82799996, 68337460.56199996, 68052945.40984994,
       68052945.40984994, 55254476.82799996, 68337460.56199996,
       68052945.40984994, 63555389.38819996, 63555389.38819996,
       63555389.38819996, 51202663.41899998, 40932540.92429999,
       41951368.37124749, 44408982.71546751, 44297985.4668175 ,
       43341610.7611725 , 43613753.09108751, 45491513.46725003,
       45407406.80335001])

In [49]:
y_final=pd.DataFrame(y_pred_denor)

In [50]:
y_final

               0
0   5.525448e+07
1   6.833746e+07
2   6.805295e+07
3   6.805295e+07
4   5.525448e+07
5   6.833746e+07
6   6.805295e+07
7   6.355539e+07
8   6.355539e+07
9   6.355539e+07
10  5.120266e+07
11  4.093254e+07
12  4.195137e+07
13  4.440898e+07
14  4.429799e+07
15  4.334161e+07
16  4.361375e+07
17  4.549151e+07
18  4.540741e+07

In [51]:
y_final.to_excel('y_final2.xlsx', index = False)

In [52]:
rf.score(X_train,Y_train)

0.9374979048507749

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(Y_test, pred))